 <h1>Stocks#list_from_db</h1>
<p>Find me in app/views/stocks/list_from_db.html.erb</p>

<%= button_to "Load the DataBase", { :controller => :stocks, :action=> :load_db}, { :remote => true, :id => 'load_db' } %>

 <%= select_tag(:stock_options_db, options_for_select( stock_list_db,"none" ) ) %> 
 <%= @message %>
<script type="text/javascript" charset='utf-8'>

$('#stock_options_db')[0].value="none"
$('#stock_options_db').change(function(){
  data = {'stock' : $( "#stock_options_db option:selected")[0].value};
  
  if(data['stock'] === 'none'){
    alert('Please select one stock from the dropdown');
  }else{
    $.ajax({
      url: "/stocks/get_info_from_db",
      type: "GET",
      data: data,
      error: function(response){
              alert("Oops! an error occurred. please try again and select a stock symbol");
      },
      success: function(data, textStatus, jqXHR) {
   
         new Highcharts.Chart({
          chart: {
                renderTo: "#container"
          },
        title: {
            text: 'Stock Price of ' + $( "#stock_options_db option:selected")[0].text,
            x: -20 //center
        },
        subtitle: {
            text: 'Yahoo finance...',
            x: -20
        },
        xAxis: {
            categories: data["data"]["dates"]
        },
        yAxis: {
            title: {
                text: 'Stock Price in Dollars ($)'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: '°C'
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            name: 'Close Price',
            data: data["data"]["close_prices"]
        }, {
            name: 'Open Price',
            data: data["data"]["open_prices"]
        }]
    });
      }
  })



}
});
 </script>

 <div id="#container" style="width:560px;height:300px"></div>
 <%= button_to "Empty the DataBase", { :controller => :stocks, :action=> :empty_db}, { :remote => true, :id => 'empty_db' } 
 %>


