<h1>Stocks#list_from_db</h1>
<p>Find me in app/views/stocks/list_from_db.html.erb</p>

<%= select_tag(:stock_options_db, options_for_select( stock_list_db,"none" ) ) %>
<button id="show-chart" type="button" class="green inline with-icon">
        Show Stock Info. Chart
</button>

<button id="add-info" type="button" class="green inline with-icon">
        Add  Dummy Stock to DB
</button>

<%= @message %>
<script type="text/javascript" charset='utf-8'>
 var chart1;
$(document).ready(function () {

$('#stock_options_db')[0].value="none"
$('#show-chart').click(function(){
   data = {'stock' : $( "#stock_options_db option:selected")[0].value};
   if(data['stock'] === 'none'){
    alert('Please select one stock from the dropdown');
  }else{
      $.ajax({
      url: "/stocks/add_or_get_stock_item",
      type: "POST",
      data: data,
      error: function(response){
          alert("Oops! an error occurred. please try again.");
      },
      success: function(data, textStatus, jqXHR) {
        console.log(data);
        chart1 = new Highcharts.Chart({
        chart: {
                renderTo: "#container"
        },
        title: {
            text: 'Stock Price of ' + $( "#stock_options_db option:selected")[0].text,
            x: -20 //center
        },
        subtitle: {
            text: 'Yahoo finance...',
            x: -20
        },
        xAxis: {
            categories: data["data"]["dates"],
        },
        yAxis: {
            title: {
                text: 'Stock Price in Dollars ($)'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            name: 'Close Price',
            data: data["data"]["close_prices"]
        }, {
            name: 'Open Price',
            data: data["data"]["open_prices"]
        }]
    });
      }
  })
  }

});

$('#add-info').click(function(){
  console.log(chart1);
  data = {'stock' : $( "#stock_options_db option:selected")[0].value};
  $.ajax({
      url: "/stocks/add_dummy_stock_item",
      type: "POST",
      data: data,
      error: function(response){
          alert("Oops! an error occurred. please try again.");
      },
      success: function(data, textStatus, jqXHR) {
        console.log(data);
        if (data["data"]["success"] == true){
          chart1.series[0].addPoint([data["data"]["date"],data["data"]["open_price"]]);
          chart1.series[1].addPoint([data["data"]["date"],data["data"]["close_price"]]);
          chart1.redraw();
        }else{
          alert(data["data"]["messages"]);
        }
      }
  });

});


});
 </script>

 <div id="#container" style="width:560px;height:300px"></div>



